# Node modules
/node_modules/

# Composer vendor
/vendor/

# Environment & config
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json

# Logs & cache
*.log
.phpunit.result.cache
.phpunit.cache
.phpactor.json

# IDE/editor
/.idea
/.vscode
/.fleet
/.zed
/.nova

# OS files
.DS_Store
Thumbs.db

# Public build / hot reload
/public/build
/public/hot
/public/storage

# Storage (exclude semua isi storage)
/storage/*

# Pengecualian kalau mau push file publik tertentu
# (Tapi kita hilangkan vendor di storage/app/public)
!/storage/app/public
/storage/app/public/vendor/
